# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\mr28346\Desktop\Python\karczma\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/../../../../../../:\Users\mr28346\Desktop\Python\karczma\.idea/dataSources/
/../../../../../../:\Users\mr28346\Desktop\Python\karczma\key\